#mass{position: fixed;
   
    display:none;
        top: 89vh;
        left: 82%;
        width: 8vh;
        height: 8vh;
           
            
        }
         a:link{
             color:black;
              text-decoration: none;
         }
       a:visited  {
        color:red;
    
        text-decoration: none;
    }
    
    </style>
    
    <style>
     h3 {
        
           padding: 15px 12px;}
    a:link {
          text-decoration: none;
          color:black;
    }
    
        a:visited {
        text-decoration: none;
            color:red;
    }
    @media only screen and (max-width: 840px){
    h3 {
        
        padding: 12px 15px}
        #media-list {
    
        width: 52%;}
    }
    a:link{
             color:black;
              text-decoration: none;
         }
    a:visited {
      color: pink;
    
        text-decoration: none;
    }